### Importar Bibliotecas e o Dataframe

In [12]:
import pandas as pd

In [13]:
df = pd.read_excel('../input-data/Financial Sample Data.xlsx')

### Analisar os Dados

In [23]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,CANADA,Carretera,None,1618.5,3.0,20.0,32370.0,0.0,32370.0,16185.0,16185.0,41640.0,1.0,January,2014.0
1,Government,germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.0,26420.0,13210.0,13210.0,41640.0,1.0,January,2014.0
2,Midmarkets,FRANCE,Carretera,None,2178.0,3.0,15.0,32670.0,NaN,32670.0,21780.0,10890.0,41791.0,6.0,June,2014.0
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.0,13320.0,8880.0,4440.0,41791.0,6.0,June,2014.0
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.0,37050.0,24700.0,12350.0,41791.0,6.0,June,2014.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              704 non-null    object
 1   Country              704 non-null    object
 2   Product              704 non-null    object
 3   Discount Band        704 non-null    object
 4   Units Sold           704 non-null    float64
 5   Manufacturing Price  704 non-null    float64
 6   Sale Price           704 non-null    float64
 7   Gross Sales          704 non-null    float64
 8   Discounts            697 non-null    float64
 9    Sales               704 non-null    float64
 10  COGS                 704 non-null    float64
 11  Profit               704 non-null    float64
 12  Date                 704 non-null    float64
 13  Month Number         704 non-null    float64
 14  Month Name           704 non-null    object
 15  Year                 704 non-null    float64
dtypes: float64(11), object(5)
memory usage: 89.0+ KB

In [16]:
df.isnull().sum()

Segment                 7
Country                 7
Product                 7
Discount Band           7
Units Sold              7
Manufacturing Price     7
Sale Price              7
Gross Sales             7
Discounts              14
 Sales                  7
COGS                    7
Profit                  7
Date                    7
Month Number            7
Month Name              7
Year                    7
dtype: int64

In [17]:
df.isna().sum()

Segment                 7
Country                 7
Product                 7
Discount Band           7
Units Sold              7
Manufacturing Price     7
Sale Price              7
Gross Sales             7
Discounts              14
 Sales                  7
COGS                    7
Profit                  7
Date                    7
Month Number            7
Month Name              7
Year                    7
dtype: int64

In [30]:
df.duplicated().sum()

0

In [31]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Segment, Country, Product, Discount Band, Units Sold, Manufacturing Price, Sale Price, Gross Sales, Discounts,  Sales, COGS, Profit, Date, Month Number, Month Name, Year]
Index: []

### Limpar Dados

In [29]:
df = df.dropna(how='all')

In [32]:
df = df.drop_duplicates()

### Verificação

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 710
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              700 non-null    object
 3   Discount Band        700 non-null    object
 4   Units Sold           700 non-null    float64
 5   Manufacturing Price  700 non-null    float64
 6   Sale Price           700 non-null    float64
 7   Gross Sales          700 non-null    float64
 8   Discounts            693 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    float64
 13  Month Number         700 non-null    float64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    float64
dtypes: float64(11), object(5)
memory usage: 93.0+ KB

In [34]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              7
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [35]:
df.isna().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              7
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [36]:
df.duplicated().sum()

0

### Salvar Output

In [37]:
df.to_csv('../output-data/Financial Sample Data.csv')