### Importar Bibliotecas e o Dataframe

In [19]:
import pandas as pd

In [20]:
df = pd.read_excel('../input-data/Financial Sample Data.xlsx')

### Analisar os Dados

In [21]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,CANADA,Carretera,None,1618.5,3.0,20.0,32370.0,0.0,32370.0,16185.0,16185.0,41640.0,1.0,January,2014.0
1,Government,germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.0,26420.0,13210.0,13210.0,41640.0,1.0,January,2014.0
2,Midmarkets,FRANCE,Carretera,None,2178.0,3.0,15.0,32670.0,NaN,32670.0,21780.0,10890.0,41791.0,6.0,June,2014.0
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.0,13320.0,8880.0,4440.0,41791.0,6.0,June,2014.0
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.0,37050.0,24700.0,12350.0,41791.0,6.0,June,2014.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              704 non-null    object
 1   Country              704 non-null    object
 2   Product              704 non-null    object
 3   Discount Band        704 non-null    object
 4   Units Sold           704 non-null    float64
 5   Manufacturing Price  704 non-null    float64
 6   Sale Price           704 non-null    float64
 7   Gross Sales          704 non-null    float64
 8   Discounts            697 non-null    float64
 9    Sales               704 non-null    float64
 10  COGS                 704 non-null    float64
 11  Profit               704 non-null    float64
 12  Date                 704 non-null    float64
 13  Month Number         704 non-null    float64
 14  Month Name           704 non-null    object
 15  Year                 704 non-null    float64
dtypes: float64(11), object(5)
memory usage: 89.0+ KB

In [23]:
df.isnull().sum()

Segment                 7
Country                 7
Product                 7
Discount Band           7
Units Sold              7
Manufacturing Price     7
Sale Price              7
Gross Sales             7
Discounts              14
 Sales                  7
COGS                    7
Profit                  7
Date                    7
Month Number            7
Month Name              7
Year                    7
dtype: int64

In [24]:
df.isna().sum()

Segment                 7
Country                 7
Product                 7
Discount Band           7
Units Sold              7
Manufacturing Price     7
Sale Price              7
Gross Sales             7
Discounts              14
 Sales                  7
COGS                    7
Profit                  7
Date                    7
Month Number            7
Month Name              7
Year                    7
dtype: int64

In [25]:
df.duplicated().sum()

10

In [26]:
df[df.duplicated(keep=False)]

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Channel Partners,United States of America,Amarilla,None,1953.0,260.0,12.0,23436.0,0.0,23436.0,5859.0,17577.0,41730.0,4.0,April,2014.0
54,Channel Partners,United States of America,Amarilla,None,1953.0,260.0,12.0,23436.0,0.0,23436.0,5859.0,17577.0,41730.0,4.0,April,2014.0
60,Midmarket,United States of America,Amarilla,None,615.0,260.0,15.0,9225.0,0.0,9225.0,6150.0,3075.0,41974.0,12.0,December,2014.0
61,Midmarket,United States of America,Amarilla,None,615.0,260.0,15.0,9225.0,0.0,9225.0,6150.0,3075.0,41974.0,12.0,December,2014.0
68,Government,Mexico,Carretera,Low,1210.0,3.0,350.0,423500.0,4235.0,419265.0,314600.0,104665.0,41699.0,3.0,March,2014.0
69,Government,Mexico,Carretera,Low,1210.0,3.0,350.0,423500.0,4235.0,419265.0,314600.0,104665.0,41699.0,3.0,March,2014.0
82,Small Business,United States of America,Montana,Low,2498.0,5.0,300.0,749400.0,7494.0,741906.0,624500.0,117406.0,41518.0,9.0,September,2013.0
83,Small Business,United States of America,Montana,Low,2498.0,5.0,300.0,749400.0,7494.0,741906.0,624500.0,117406.0,41518.0,9.0,September,2013.0

### Limpar Dados

In [27]:
df = df.dropna(how='all')

In [28]:
df = df.drop_duplicates()

In [29]:
df['Country'] = df['Country'].str.lower()
df['Country'] = df['Country'].str.strip()
df['Country'] = df['Country'].str.title()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00,41640.0,1.0,January,2014.0
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00,41640.0,1.0,January,2014.0
2,Midmarkets,France,Carretera,None,2178.0,3.0,15.0,32670.0,NaN,32670.00,21780.0,10890.00,41791.0,6.0,June,2014.0
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00,41791.0,6.0,June,2014.0
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00,41791.0,6.0,June,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,41699.0,3.0,March,2014.0
707,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,41913.0,10.0,October,2014.0
708,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,41671.0,2.0,February,2014.0
709,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,41730.0,4.0,April,2014.0
710,Channel Partners,United States Of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,41760.0,5.0,May,2014.0

### Verificação

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 710
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              700 non-null    object
 3   Discount Band        700 non-null    object
 4   Units Sold           700 non-null    float64
 5   Manufacturing Price  700 non-null    float64
 6   Sale Price           700 non-null    float64
 7   Gross Sales          700 non-null    float64
 8   Discounts            693 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    float64
 13  Month Number         700 non-null    float64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    float64
dtypes: float64(11), object(5)
memory usage: 93.0+ KB

In [31]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              7
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [32]:
df.isna().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              7
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [33]:
df.duplicated().sum()

0

### Salvar Output

In [34]:
df.to_csv('../output-data/Financial Sample Data.csv')